@import 'config';
@import 'home';

body{
    font-family: Arial, Helvetica, sans-serif;
    background: $primary-color;
    line-height: 1;
}

a{
    text-decoration: none;
    color: $text-secondary;
}
li{
    list-style: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
}

header{
    width: 100%;
    overflow: hidden;
    padding-right: 2rem;
    padding-left: 2rem;
}

main{
    width: 100%;
    padding: 1.5rem 0;
}